{% extends "base/base.html" %}

{% block title %} Entrar {% endblock title %}

{% block content %}

	<div class="container mb-4">
		<h1 class="display-5 text-center my-4">Ingresar</h1>

		<form method="POST" class="col-sm-5 col-lg-6 mx-auto"> {% csrf_token %}
			{% if form.errors %}
				{% if form.non_field_errors%}
					<div class="alert alert-danger alert-dismissible fade show" role="alert">

				      	{% for error in form.non_field_errors %}
				      		{{error}}
				      	{% endfor %}
						
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
				{% endif %}
		      		
			{% endif %}

			<div class="row g-3">
	      <div class="col-12">
	      	<label for="email-input" class="form-label">Email</label>
	       
					{{form.email}}
		
					 {% if form.email.errors %}
						 {% for error in  form.email.errors %}
								<div class="text-center">
		  							<span class="badge bg-danger-subtle border border-danger-subtle text-danger-emphasis rounded-pill">{{error}}</span>
		  						</div>
							{% endfor %}
					 {% endif %}
	      </div>
	    </div>
	        
	    <div class="my-3"></div>
	        
	    <div class="row g-3">
	        <div class="col-12">
	        	<label for="email-input" class="form-label">
		 					Contraseña
						</label>
						{{form.password}}

					 	{% if form.password.errors %}
					  
					  	{% for error in  form.password.errors %}
								<div class="text-center">
		  							<span class="badge bg-danger-subtle border border-danger-subtle text-danger-emphasis rounded-pill">{{error}}</span>
		  						</div>
							{% endfor %}
					 	{% endif %}
	        </div>
	    </div>

	     <hr class="my-4">
			
			<button type="submit" class="w-100 btn btn-primary btn-lg">Entrar</button>
		</form>
		
	</div>


{% endblock content %}
